* {
    padding: 0;
    margin: 0;
}

table {
    text-align: center;
    position: relative;
    left: 42%;
    top: 15px;
    /* border-spacing: 10px;    */
}

table th:nth-child(1) {
    text-transform: uppercase;
    background-color: gray;
    color: white;
    padding: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td {
    border: 1px solid black;
    padding: 3em;
}

table tr:nth-child(2) td {
    background-color: #2bb8ff;
}

table tr:nth-child(3) td {
    background-color: #5cc9ff;
}

table tr:nth-child(4) td {
    background-color: #7dd1fc;
}

table tr:nth-child(5) td {
    background-color: #92dbff;
}

table tr:nth-child(6) td {
    background-color: #a9e0fc;
}

table tr:nth-child(7) td {
    background-color: #b7e6fd;
}

table tr:nth-child(8) td {
    background-color: #dff0f8;
}
