@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #011F37, #320000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.First-Orange {
    background-color: #FB9700;
    width: 320px;
    height: 320px;
    position: fixed;
    top: 80%;
    right: 86%;
    border-radius: 100%;
    filter: blur(110px);
    z-index: -999;
}

div.First-Blue {
    background-color: #06EBF7;
    width: 320px;
    height: 320px;
    position: fixed;
    top: 0%;
    left: 86%;
    border-radius: 100%;
    filter: blur(110px);
    z-index: -999;
}

div.Second-Orange {
    background-color: #FB9700;
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: -30%;
    left: 86%;
    border-radius: 100%;
    filter: blur(115px);
    z-index: -999;
}

.design-container {
    width: 90%;
    height: 400px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border-right: 1px solid rgba(6, 235, 247, 1);
    border-bottom: 1px solid rgba(251, 151, 0, .4);
    user-select: none;
}

.design-container img {
    width: 100%;
    border-radius: 20px;
}

header {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, .2);
    backdrop-filter: blur(20px);
    border-right: 1px solid rgba(6, 235, 247, 1);
    border-bottom: 1px solid rgba(251, 151, 0, .4);
    position: sticky;
    top: 0;
    z-index: 999;
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

header nav ul {
    font-weight: 400;
    list-style: none;
    display: flex;
    gap: 2.5em;
    color: white;
}

header nav button {
    padding: 1.2em 3em;
    border-radius: 100px;
    border: none;
    background: linear-gradient(to left, #011F37, #320000);
    color: white;
    transition: all .2s ease;
}

header nav button:hover {
    transform: scale(1.1);
}

header nav button:active {
    transform: scale(0.95);
}

header nav img {
    width: 150px;
    height: auto;
}

.Lower-design-container {
    width: 90%;
    height: 950px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    user-select: none;
}

.left-box,
.right-box {
    width: 40%;
    height: 100%;
    border-radius: 20px;
}

.Lower-design-container .left-box img,
.Lower-design-container .right-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.Goto-top {
    width: 50px;
    height: 50px;
    background-color: rgba(225, 225, 225, .2);
    border-radius: 100%;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(251, 151, 0, .6);
    position: fixed;
    top: 90%;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Goto-top img {
    width: 80%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgba(225, 225, 225, .1);
    backdrop-filter: blur(20px);
    border-right: 1px solid rgba(6, 235, 247, 1);
    border-top: 1px solid rgba(251, 151, 0, .4);
}

footer p {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}