*{
    margin: 0;
    padding: 0;
}

table{
    margin: 50px;
}

td{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}
th{
    padding: 4px;   
    background-color: black;
    color: white;
}

.Main-heading{
    background-color: black;
    text-align: center;
    color: white;
    text-transform: uppercase;
}